header{
	font-size: 25px;
	position: fixed;
	left: 10%;
	top: 0;
	padding: 30px;
	background-color: #4aaaa5;
	font-family: Georgia;
	color: white;
}


#about{
	position: fixed;
	right: 40%;
	top: 5%;
	font-size: 20px;
}

#portfolio{
	position: fixed;
	right: 30%;
	top: 5%;
	font-size: 20px;
}

#contact{
	position: fixed;
	right: 20%;
	top: 5%;
	font-size: 20px;
}


h1{
	font-size: 30px;
	padding: 30px;
	font-family: Georgia;
}

.main-content{
	position: fixed;
	bottom: 15%;
	left: 10%;
	width: 650px;
	padding: 20px;
	background-color: blue;
}

.links{
	position: fixed;
	bottom: 52.9%;
	right: 20%;
	width: 270px;
	background-color: blue;
}

#connect{
	font-size: 25px;
	font-family: Georgia;
	padding: 30px;
}

#image-1{
	float: left;
	padding: 10px;
}

#image-2{
	float: left;
	padding: 10px;
}

#image-3{
	position: absolute;
	bottom: 6%;
	right: 8%;
}


.wrapper{
	min-height: 100%
	background-color: black;

}

	
	

